[program:jenkins]

command=/bin/java -jar {{ jenkins_slave_jar }} -jnlpUrl http://{{ jenkins_master_host }}:{{ jenkins_master_port }}/computer/{{ jenkins_node_name }}/slave-agent.jnlp -secret {{ jenkins_node_secret }}

user={{ jenkins_node_user }}

directory={{ jenkins_node_fspath }}
autorestart=true
redirect_stderr=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0

